body {
    margin: 0;
}
.main-container {
    background-color: #15202b;
    height: 100vh;
    display: flex;
}
.column {
    flex: 1
}
.vertical-border {
    border-left: solid thin #575757;
    border-right: solid thin #575757;
}
.ul-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 5rem;
}
.ul {
    list-style: none;
}
.white {
    color: #FFF
}
.li {
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.icon-container {
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    overflow: auto;
}
.text {
    font-size: 1.5rem;
    font-weight: bold;
}
.text-small {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFF
}
.button {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    background-color: #1da1f2;
    text-align: center;
}
.start {
    display: flex;
    justify-content: space-between;
    border-bottom: solid thin #575757;
    padding: 1rem;
}
.twittear {
    padding: 0.9rem;
    padding-bottom: 0;
    border-bottom: solid thin #575757;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.padding {
    padding: 0.5rem 1rem;
}
.whats-happening {
    font-size: 1.5rem;
    color: #61707c
}
.twittear-actions {
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-tweet {
    padding: 0.5rem;
    border-radius: 30px;
    background-color: #1da1f2;
    text-align: center;
}